In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# load dataset
pima = pd.read_csv("label11.csv")
pima.head()

   width  height class1  xmin  ymin  xmax  ymax    x   y
0   1280     720   bike   379   361   455   396   76  35
1   1280     720   bike   814   320   886   357   72  37
2   1280     720   bike   903   455   974   494   71  39
3   1280     720   bike   765   390   831   421   66  31
4   1280     720    car   943   164  1087   239  144  75

In [3]:
#split dataset in features and target variable
feature_cols = ['x','y' ]
X = pima[feature_cols] # Features
y = pima.class1 # Target variable

In [5]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [6]:
# removing null values from data
a3=X_train.replace(np.inf,np.nan).replace(-np.inf, np.nan).dropna()
a4=y_train.replace(np.inf,np.nan).replace(-np.inf, np.nan).dropna()

In [7]:
# converting it to dataframe
DF=pd.DataFrame(a3)
DF1=pd.DataFrame(a4)

In [8]:
# import the class
from sklearn.linear_model import LogisticRegression

In [9]:
# instantiate the model (using the default parameters)
logreg = LogisticRegression()

In [10]:
# fit the model with data
logreg.fit(DF,DF1)

C:\Users\mariam.iftikhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\mariam.iftikhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
y_pred=logreg.predict(X_test)

In [12]:
#import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[1365,  207],
       [ 203,  861]], dtype=int64)

In [13]:
#Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8444613050075872